*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/hs_err_pid4160.log
/hs_err_pid25232.log
/hs_err_pid2832.log
/hs_err_pid3232.log
/hs_err_pid3328.log
/hs_err_pid7548.log
/hs_err_pid20112.log
/hs_err_pid21376.log
/hs_err_pid24152.log
/replay_pid2832.log
/replay_pid3328.log
/replay_pid7548.log
/replay_pid20112.log
/replay_pid21376.log
/replay_pid24152.log
